RewriteEngine On

# 1. Remover a extensão .html dos links
# Exemplo: edmilsonmula.info/M7-Store/p01 -> carrega o p01.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# 2. (Opcional) Forçar HTTPS e remover o 'www' para um look mais clean
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]